@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

.rounded-3xl { border-radius: 1rem; }
.rounded-[32px] { border-radius: 32px; }
